.download-button {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem 2rem;
  z-index: 2;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.download-button:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.25s ease-in-out;
}